@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
div{
    /* background-color: rgb(125, 197, 245); */
    padding: 10px;
    margin:85px 10px;
    border-radius: 10px;
    /* align-items:center; */
    /* justify-content:center; */
    text-align:center;
    font-family: "Kumar One", serif;
    font-size: 20px;
}

#btn{
    padding: 9px 19px;
    border-radius: 20px;
    color: white;
    background-color: black;
    font-weight: bold;
    margin: 0 15px;
    cursor: pointer;
    font-size: 15px;
}

#btn:hover{
    background-color: white;
    color: black;
}

.inp{
    border-radius: 10px;
    margin-left: 10px;
    width: 500px;
    height:25px;
}

/*#image{
    z-index: -1;
    height: 100%;
    width: 100%;

    background-image: url("key.jpg");

  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/ 

body {
    background-image: url('images/key.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
  }